* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: PermanentMarker;
  src: url('./fonts/PermanentMarker-Regular.ttf');
  font-display: block;
}

@font-face {
  font-family: RubikScribble;
  /* 우선 순위 지정 */
  src: 
  local('RubikScribble-Regular'),
  /* url('./fonts/RubikScribble-Regular.woff2'), */
  /* url('./fonts/RubikScribble-Regular.woff'), */
  url('./fonts/RubikScribble-Regular.ttf'),
  ;
  font-display: block;
}

::-webkit-scrollbar-track {
  background: rgba(202, 204, 206, 0.04);
}

::-webkit-scrollbar-thumb {
  background: #9b9b9b;
  border-radius: 32px;
  background-clip: padding-box;
  border: 6px solid transparent;
}

::-webkit-scrollbar {
  width: 16px;
  height: 10px;
}

::-webkit-scrollbar {
  background: transparent;
}
